body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:rgb(175, 218, 255);
    margin: 0px;
    padding: 0px;
    font-family: prompt;
}
#logo {
    font-size: 40px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;

}
.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 0, 255);
    gap: 15px;
    padding: 15px;
}
.menuitem {
    background-color: aqua;
    display: flex;
    flex:auto;
    justify-content: space-evenly;
    font-weight: 600;

}
h1 {
    font-size: 48px;
    font-weight: 900;
    background-color: antiquewhite;
}
/* Flex wrap keeps it responsive (the items within the div) and flex grow ensures the items can grow to fit the space, if there is space available*/
.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: blue;
    text-align: center;
}

.bannerleft{
background-color: blueviolet;
display: flex;
flex-grow: 1;
flex-direction: column;
text-align: left;
margin: 10px;
}

.bannerright {
    display: flex;
    max-width: 200px;
    max-height: 200px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 247, 0);
    margin: 10px;

}

p {
    background-color: antiquewhite;
}

.section {
    padding: 20px;
    background-color: rgb(0, 140, 255);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content:space-around;
    align-items: center;
}
.icon {
    display: flex;
    flex-grow: 1;
    max-width: 300px;
    max-height: 50px;
    background-color: white;
}
.spacer {
    background-color: black;
    height: 10px;
}
h2 {
    background-color: antiquewhite;
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
}
.block {
    display: flex;
    background-color: azure;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 200px;
    max-height:200px;
}